.header-wrapper {
  background-color: var(--white);
  color: var(--coffee-dark);
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
}

.logo-container img {
  width: 4rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.logo-container .title {
  font-size: 2.5rem;
  margin-top: auto;
}

.hamburger svg,
.hamburger.close svg {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburger,
.expand-btn,
.collapse-btn,
.hamburger.close {
  background: none;
  color: var(--coffee-dark);
  transition: transform 0.3s ease-in-out;
}

.hamburger:hover,
.expand-btn:hover,
.collapse-btn:hover,
.hamburger.close:hover {
  transform: scale(1.1);
  background: none;
}


.navbar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  border-top: 2px solid var(--coffee-darker);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.navbar-icon {
  aspect-ratio: 1/1;
  width: 4rem;
  padding: 0.5rem;
}

.navbar-icon:hover {
  background-color: var(--coffee-dark);
  color: var(--white);
}

.toplevel-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.bell-btn {
  background: none;
  transition: transform 0.3s ease-in-out;
}

.bell-iconwrapper {
  width: 4rem;
  aspect-ratio: 1/1;
}

.bell-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.bell-btn:hover {
  background: none;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .logo-container .title {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar-icon {
    width: 5rem;
  }

  .logo-container img {
    width: 6rem;
  }

  .logo-container .title {
    font-size: 3rem;
  }
}

.navbar button {
  background: none;
}

.navbar button:hover {
  background: none;
}

@media screen and (min-width: 1280px) {
  .navbar {
    gap: 1.5rem;
  }

  .navbar-icon {
    width: 6rem;
  }

  .logo-container img {
    width: 7rem;
  }

  .logo-container .title {
    font-size: 3.5rem;
  }
}