.customizemenu-panel {
    background-color: var(--cream-100);
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    position: relative;
    color: var(--coffee-darker);
    text-align: left;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal-header {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.customizemenu-panel h4 {
    font-size: 1.8rem;
}

.close-modal {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    color: var(--coffee-darker);
}

.close-modal:hover {
    color: var(--white);
}

.size-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.size-buttons {
    display: flex;
    justify-content: space-evenly;
}

.size-btn,
.confirm-btn,
.cancel-btn {
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--coffee-darker);
    width: 100%;
}

.size-btn.active {
    background-color: var(--coffee-dark);
}

.others-selector {
    margin: 1rem 0;
    line-height: 2.5;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.extras-selector {
    display: flex;
    flex-direction: column;
}

.extras {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.extras-item {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    min-width: 100px;
    align-items: center;
}

.option-group {
    width: 100%;
}

.option-group select {
    width: 100%;
    border: 2px solid var(--coffee-darker);
    background-color: var(--cream-100);
    color: var(--coffee-darker);
    padding: 0.5em 1em;
    border-radius: 10px;
}

.option-group select option {
    color: var(--coffee-darker);
    background-color: var(--white);
}

.modal-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.cancel-btn {
    background-color: red;
}