.customer-details {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.customer-details input {
    border: 2px solid var(--coffee-darker);
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem;
}