.btn-primary {
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: block;
}

.btn-primary:disabled, 
.btn-danger:disabled, 
.btn-secondary:disabled, 
.btn-text:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-secondary {
  background: var(--cream-100);
  color: var(--gold-300);
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.btn-text {
  background: none;
  color: var(--gold-300);
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
.btn-text:hover {
color: var(--cream-100);
}
.btn-danger {
  background: var(--gold-200);
  color:var(--cream-100);
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-danger:hover {
  background: #d9363e;
}
