.form-section {
  margin: 0.7em 0;
  background: var(--cream-300);
  border-radius: 10px;
  border: 1px solid var(--cream-100);
  box-shadow: 0 1px 2px var(--coffee-darker);
  width: 100%;
}

 .form-section h3 {
    font-size: 1.2em;
    text-align: center;
    background-color: var(--choco-300);
    color: var(--cream-100);
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    border-radius: 10px 10px 0 0;
} 
.section-children {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
