.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.address-form {
    width: 100%;
}
.input-field input, .input-field select, .input-field textarea {
    border: 2px solid var(--coffee-darker);
    color: var(--coffee-darker);
    border-radius: 5px;
    width: 100%;
    padding: 0.2em;
}
.input-field select:invalid {
    opacity: 50%;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.radio-option {
    display: flex;
    gap: 0.5rem;
}

.input-error {
    color: red;
}
.checkbox-field {
    display: flex;
    gap: 0.5rem;
}
