.filter-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
    width: clamp(0, 100%, 400px);
    flex-wrap: wrap;
}

.filter-wrapper input[type="search"], .filter-wrapper select {
    border: 2px solid var(--coffee-darker);
    border-radius: 5px;
    padding: 0.5em;
    flex: 1;
}
