@import "tailwindcss";


:root {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;

    --coffee-dark: #3d3100;
    --coffee-darker: #1f1800;
    --coffee-medium: #6a5520;
    --coffee-light: #8f7328;

    --cream-100: #f7f2e7;
    --cream-200: #e8dcc2;
    --cream-300: #d1c3a3;

    --gold-100: #c6a667;
    --gold-200: #b08c3b;
    --gold-300: #8f7328;

    --earth-100: #b7a99a;
    --earth-200: #8a7a67;
    --earth-300: #5c4f3d;

    --choco-100: #7a4f2a;
    --choco-200: #5a3a1d;
    --choco-300: #3b2712;

    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cream-100);
    width: 100vw;
    font-size: 1.2rem;
}

button {
    background: var(--gold-300);
    color: var(--white);
}

button:hover {
    background: var(--coffee-dark);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1280px) {
 body {
    font-size: 2.2rem;
 }
}